*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

local.properties

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml

.externalNativeBuild
.cxx/

vcs.xml

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/